/**
 * Colors
 */

// Greyscale
$color-black: #000;
$color-white: #fff;
$color-grey-light: #f6f6f8;

// Color
$color-dark-blue: #007790;

$color-accent: $color-dark-blue;

/**
 * Fonts
 */
$font-sans-serif: 'IBM Plex Sans', sans-serif;
$font-family: $font-sans-serif;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 600;

/**
 * Grid
 */
$grid-max-width: 960px;
$grid-gutter-width: 40px;

$grid-tablet-bkpt: 960px;

/**
 * Misc
 */
$base-border-radius: 6px;
$base-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
